arrow==0.12.1
binaryornot==0.4.4
certifi==2018.1.18
chardet==3.0.4
click==6.7
cookiecutter==1.6.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Login==0.4.0
Flask-SocketIO==2.9.2
Flask-WTF==0.14.2
future==0.16.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jinja2-time==0.2.0
-e git+git@github.com:harshrpg/COMP30670_Assignment3.git@814d5b9187b0820d7ae4dd8be28fc8b021f94544#egg=led_solve
-e git+git@github.com:harshrpg/COMP30670_LedTester.git@67228e6b9e61f61e7097d5626fbca9199d6cc0e2#egg=led_tester
MarkupSafe==1.0
numpy==1.14.1
poyo==0.4.1
python-engineio==2.0.1
python-socketio==1.8.3
requests==2.18.4
six==1.11.0
systeminfo==0.1.1
systeminfo-flask==0.1.0
urllib3==1.22
Werkzeug==0.14.1
whichcraft==0.4.1
wincertstore==0.2
WTForms==2.1
